<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

	<nav th:replace="layouts :: navbar"></nav>

<body>

	<div class="container">
		<br>
		<h3> Nhóm 11 </h3>
		<td> Nhóm bài tập lớn môn: Lập Trình Web </td><br>
		<td> Giảng viên hướng dẫn: Dương Trần Đức </td><br>
		<td> Nhóm lớp: 10 </td><hr>
		
		<h3> Trang Web quản lí dự án  </h3>
		
		<div class="row">
			<table class="table table-bordered table-striped" id="t1">
				<tbody>
					<tr>
						<td id="c1"> Tên dự án </td>
						<td> Trang Web quán lí dự án cho các công ty </td>
					</tr>
					<tr>
						<td id="c1"> Chức năng </td>
						<td> Thêm, cập nhật, xóa </td>
					</tr>
					<tr>
						<td id="c1"> Ứng dụng </td>
						<td> Dùng cho các công ty quản lí dự án </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<hr><h3> Bao gồm 3 thành viên </h3>
		<div class="row">
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th> ID </th>
						<th> First Name </th>
						<th> Last Name </th>
						<th> Working </th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td> B20DCCN722 </td>
						<td> Viet </td>
						<td> Dang Bao </td>
						<td> Frontend </td>
					</tr>
					<tr>
						<td> B19DCCN096 </td>
						<td> Chau </td>
						<td> Nguyen Thanh </td>
						<td> Backend </td>
					</tr>
					<tr>
						<td> B20DCCN641 </td>
						<td> Thanh </td>
						<td> Dao Xuan </td>
						<td> Frontend </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>