<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts :: header"></head>

<nav th:replace="layouts :: user"></nav>

<body>

<div class="jumbotron text-center">
  <h1>A Product made by Group 11</h1>
  <p>A project management website!</p> 
</div>

  
<div class="container">
	<div class="row">
	    <div class="card col-sm-4" style="height: 420px;"><br>
			<img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/345463079_817993229896993_5671285352221157309_n.jpg?stp=dst-jpg_s960x960&_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=mpi4hxuTFPMAX9WnW3T&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfAF-uIYIG-j1KZkGo9R5X49ytOkcT0Z4FdZ059LHkjxbg&oe=645E4D60" 
			class="rounded-circle border border-success" width="150" height="150"><br>
	     	<h3 class="card-title">Đặng Bảo Việt</h3>
	     	<td>Posts and Telecommunications Institute of Technology</td><br>
	      	<td>Student code: B20DCCN722</td>
	      	<p>Working on frontend</p>
	      	<a href="#" class="btn btn-primary">See Profile</a>
	    </div>
	    
	    <div class="card col-sm-4" style="height: 420px;"><br>
			<img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-1/299589229_3352630151682854_1105055810235175770_n.jpg?stp=dst-jpg_p100x100&_nc_cat=102&ccb=1-7&_nc_sid=7206a8&_nc_ohc=5pJ0dJrP9nUAX88FRJO&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfBfQOWOdHo7csPqV4JYevuPGO2-N61HZ2qW_jzm5uQs4w&oe=6460579F" 
			class="rounded-circle border border-success" width="150" height="150"><br>
	      	<h3 class="card-title">Nguyễn Thanh Châu</h3>
	      	<td>Posts and Telecommunications Institute of Technology</td><br>
	      	<td>Student code: B19DCCN096</td>
	      	<p>Working on backend</p>
	      	<a href="#" class="btn btn-primary">See Profile</a>
	    </div>
	    
	    <div class="card col-sm-4" style="height: 420px;"><br>
			<img src="https://scontent.fhan5-11.fna.fbcdn.net/v/t1.6435-9/128387827_130671605493707_7180114735650211551_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=ngdEy3oHmysAX-GxGA0&_nc_ht=scontent.fhan5-11.fna&oh=00_AfBLKZV0PbtYHalvTXx_bc_zjR8cpLh_7B9B1GYb6o6hyg&oe=647C5176" 
			class="rounded-circle border border-success" width="150" height="150"><br>
	      	<h3 class="card-title">Đào Xuân Thành</h3>
	      	<td>Posts and Telecommunications Institute of Technology</td><br>    
	      	<td>Student code: B20DCCN641</td>
	      	<p>Working on frontend</p>
	      	<a href="#" class="btn btn-primary">See Profile</a>
	    </div>
	</div>
</div>

<hr>

</body>
</html>