<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts :: head">
	</head>

	<body>

	<nav th:replace="layouts :: user"></nav>

		<div class="container">
			<br>
			<h3>Projects Directory</h3>
			<hr>

			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Project Name</th>
						<th>Project Stage</th>
						<th>Description</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aProject : ${projects}">
						<td th:text="${aProject.name}"/>
						<td th:text="${aProject.stage}"/>
						<td th:text="${aProject.description}"/>
						<td th:text="${aProject.startDate}"/>
						<td th:text="${aProject.endDate}"/>
					</tr>
				</tbody>

			</table>
		</div>
	</body>

</html>